body
{
	background : #222222;
}
h3 {
	position:relative;
	left: 30%;
	color: #aaaaaa;
}
a {
	color: #888888;
}

p
{
	position:relative;

	left:30%;
	color: #777777;
}
canvas { 

	position:relative;
	left: 30%;
	top: 10%;
	border: 3px dotted white;
}
